# Token du bot Discord (https://discord.com/developers/applications)
DISCORD_TOKEN=ton_token_ici
DISCORD_CLIENT_ID=id_application_bot
DISCORD_GUILD_ID=id_du_serveur_discord

# Clé secrète partagée avec la ressource FiveM (vibe_discord)
BRIDGE_SECRET=change_moi_en_cle_longue_aleatoire

# URL HTTP de la ressource FiveM (même machine = 127.0.0.1)
# http://IP:30120/<nom_ressource>
FIVEM_BRIDGE_URL=http://127.0.0.1:30120/vibe_discord
# Port d'écoute du bot pour recevoir les logs IG
LOG_PORT=3847

# Optionnel : nom affiché
BOT_NAME=Vibe RP
